@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
}

:root {
  --Soft_red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark_desaturated_cyan: hsl(167, 40%, 24%);
  --Dark_blue: hsl(198, 62%, 26%);
  --Dark_moderate_cyan: hsla(168, 34%, 41%, 0.65);
  --Very_dark_desaturated_blue: hsl(212, 27%, 19%);
  --Very_dark_grayish_blue: hsl(213, 9%, 39%);
  --Dark_grayish_blue: hsl(232, 10%, 55%);
  --Grayish_blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

h1 {
  color: var(--White);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  font-family: "Fraunces", serif;
  margin-top: 5.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  align-items: center;
  margin-bottom: 0;
}

h2 {
  color: var(--Very_dark_desaturated_blue);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  max-width: 14ch;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  padding-left: 4rem;
}

h3 {
  color: var(--Dark_grayish_blue);
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

h4 {
  color: var(--Very_dark_desaturated_blue);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

p {
  padding: 1rem;
}

body {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--Very_dark_grayish_blue);
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  place-content: center;
}

.navigation {
  display: none;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  align-items: center;
  background-color: var(--White);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  width: 85vw;
}

.menu_icon {
  color: var(--White);
  position: absolute;
  right: 2rem;
  cursor: pointer;
 
}

button {
  background-color: var(--White);
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--Yellow);
  text-transform: uppercase;
  padding: 0.5rem 2rem;
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 2rem;
  max-width: 100px;
}

img {
  width: 50vw;
}

.image {
  width: 100vw;
}

.header {
  background-image: url(./images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  background-position: 50%;
  padding: 2rem;
}

.arrow {
  width: 30px;
  height: 120px;
  margin-top: 6rem;
}

.graphic {
  background-image: url(./images/mobile/image-graphic-design.jpg);
  background-size: cover;
  height: 50vh;
  padding-top: 25rem;
  color: var(--Dark_desaturated_cyan);
}

.photography {
  background-image: url(./images/mobile/image-photography.jpg);
  background-size: cover;
  height: 50vh;
  padding-top: 25rem;
  color: var(--Dark_blue);
}

.photography h5 {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
}

.graphic h5 {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
}

.client_img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.identification {
  display: flex;
  flex-direction: column;
  padding: 0;
  line-height: 0;
}

.name {
  font-family: "Fraunces", serif;
  color: var(--Very_dark_desaturated_blue);
  margin-top: 1rem;
}

.ocupation {
  color: var(--Grayish_blue);
  font-family: "Barlow", sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0;
  background-color: var(--Dark_moderate_cyan);
}

footer {
  background-color: var(--Dark_moderate_cyan);
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.footer_logo {
  position: unset;
  color: var(--Dark_desaturated_cyan);
  font-family: "Barlow", sans-serif;
  font-size: xx-large;
  font-weight: 900;
  margin: 0;
  align-self: center;
}

.socials {
  display: flex;
  gap: 1.5rem;
  align-self: center;
}

.socials img {
  width: unset;
}

.nav_elements {
  display: flex;
  color: var(--Dark_desaturated_cyan);
  justify-content: space-around;
  color: var(--Dark_moderate_cyan);
  font-weight: 900;
}

@media screen and (min-width: 750px) {

  .logo {
    max-width: 150px;
  }
  .menu_icon {
    display: none;
  }

  .navigation {
    display: block;
    background-color: transparent;
    margin-top: 0;
    padding: 0;
    right: 0;
    width: unset;
  }

  button {
    background-color: transparent;
    color: var(--White);
  }

  button:hover {
    background-color: var(--White);
    color: black;
  }
  .header {
    background-image: url(./images/desktop/image-header.jpg);
    background-position: 50%;
    width: 100vw;
    height: 70vh;
  }

  .header h1 {
    margin-top: 8rem;
    font-size: 4rem;
  }

  .arrow {
    margin-top: 9rem;
  }
  .image {
    width: 50vw;
  }

  article {
    max-width: 50vw;

  }

  .backgroundElement{
    height: 50vh;

  }
  .backgroundElement > p {
    margin: auto;
    
  }



  .article_p {
    text-align: left;
    max-width: 45ch;
    padding-left: 0;
  }

  article h2 {
    text-align: left;
    padding-left: 0;
  }

  .article_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
    min-width: 100vw;
  }

  .photography {
    background-image: url(./images/desktop/image-photography.jpg);
    padding-top: 25rem;   
  }

  .graphic {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    padding-top: 25rem; 
  }

  article:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .graphic_txt {
    max-width: 43ch;
    align-self: center;
    padding-bottom: 2rem;
  
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0;

    background-color: var(--Dark_moderate_cyan);
  }

  .gallery_img {
    max-width: 100%;
  }

  .testimonials {
    display: flex;
  }

  .nav_elements {
    justify-content:center;
   
    gap: 1rem;
  }

  .socials img {
    gap: 1rem;
  }
}
